h2{
    color: green;
    font-family: Comic Sans MS;
    
}
.Vanessa{
    color: blue;
}
#foto{
    float: right;
    margin-left: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}